.fundo {
    background: #000000;
}

.botao{
    width: 100%;
}

#titulo{
    color: white;
}
.caixa{
    text-align: center;
    margin: 10px;
}

.user {
    padding:40px 5px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 10px 0 rgba(0, 0, 0, 0.12);
    width: 90%;
    display: block;
    margin: 0 auto;
}
 
#user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
}
 
h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: lighter;
    color: white;
}
 
#user-name {
    color: #0066AA;
    font-weight: bold;
}

botao{
    text-align: center;
    padding: 20px;
}
