html{
    height: 100%;
}

body{
    height: 100%;
}
/*TELA LOADER*/
.loaderPage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/zAD2y29.gif') 50% 50% no-repeat white;
}

.fundo { /*body*/
    background: #FFF;
}

/*TELA LOGIN*/
.caixaGoogle{
    background: #4db81a;
    height: 280px;
    margin: 0 auto;
}

.logo-home {
    width: 164px;
    height: 300px;
    background: url('img/home_logo.png') no-repeat;
    background-size: 100%;
    margin: 20px auto;
}

.caixaLogin{
    /*bottom: 12%;*/
    position: relative;
    text-align: center;
    bottom: -50%;
}

.caixaInput{
    top:50%;
    left: 50%;
    padding-top: 8%;
}

.designInput{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

i.material-icons.camposLogin{
    position: absolute;
    top: 10px;
    right: 10px;
}

.waves-effect.waves-light.btn.grey.lighten-1.col.s12.m4.l8{
    width: 115px;
}

.waves-effect.waves-light.btn.green.accent-4.col.s12.m4.l8{
     float: right; 
     width: 115px;
}
/*BOTÃO GOOGLE*/
#customBtn {
    position: relative;
    display: inline-block;
    background: white;
    color: #444;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 3px 4px rgba(128, 128, 128, 0.38);
    white-space: nowrap;
    left: 50%;
    margin-left: -125px;
}

span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('img/g-logo.png') transparent no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-left: 6px;
    margin-top: 6px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

/*TELA HOME*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.switch-door {
  margin: 50% auto;
  position: relative;
}

.switch-door [type="checkbox"]+label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding:0;
  line-height: inherit;
  font-size: 70px;

}

.switch-door input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch-door [type="checkbox"]:not(:checked), [type="checkbox"]:checked {        
    left:inherit;
}

.switch-door  {
  width: 150px;
  height: 150px;
}

.switch-door [type="checkbox"]+label {
  border-radius: 50%;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  position: relative;
  color: #a5a39d;
  font-size: 70px;
  text-align: center;
  line-height: 150px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  text-shadow: 0 2px 1px rgba(0,0,0,0.25);

  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
  z-index: -1;
}

.switch-door [type="checkbox"]+label:before{
  content: ""; 
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  z-index: -2;
  border-radius: inherit;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.3),0 0 10px rgba(0,0,0,0.15);
  height:auto;
  width: auto;
  border: none;
}

.switch-door [type="checkbox"]:not(.filled-in) + label:after {
    content: ""; 
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.13); 
    -webkit-filter:blur(1px);
    -moz-filter:blur(1px);
    -ms-filter:blur(1px);
    -o-filter:blur(1px);
    filter: blur(1px); 
    height:auto;
    width:auto;

    transform: none;
}

.switch-door .icon-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
}


.switch-door input.abrindo-porta ~ label {
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.35),
    0 3px 10px 4px rgba(0,0,0,0.2);
  color: #64BB46;
}

@media only screen and (min-width: 100px) and (max-width:340px) {
    .logo-home {
        width: 120px;
        height: 220px;
    }
    .caixaGoogle{ height: 210px; }
    .caixaLogin{ bottom: -50%; }
    .waves-effect.waves-light.btn.grey.lighten-1.col.s12.m4.l8 { width: 100px; }
    .waves-effect.waves-light.btn.green.accent-4.col.s12.m4.l8{ width: 100px; }
}

@media only screen and (min-width: 601px) and (max-width:992px) {
    .logo-home { width: 250px; height: 520px; }
    .caixaGoogle{ height: 450px; }
    .caixaLogin{ font-size: 25px; text-align: center; }
    span.buttonText{ font-size: 30px; }
    span.icon{ width: 55px; height: 55px; margin-left: 15px; margin-top: 15px; }
    #customBtn{ width: 300px; margin-left: -150px; height: 70px; }
}
