/*TELA LOADER*/
.loaderPage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/zAD2y29.gif') 50% 50% no-repeat white;
}
/*
.preloader{
    position:absolute;
    top:50%;
	left:50%;
	margin-top:-35px;
	margin-left:-32px;
}*/

/*TELA LOGIN*/
.fundo { /*body*/
    background: #FFF;
}

.titulo{
    //position:absolute;
    margin-top: 170px;
    text-align: center;
    //margin-left: 15%;
}
.logo img{
    width: 120px;
    height: 118px;
    position:absolute;
    top: 15%;
    left:52%;
    margin-top:-59px;
    margin-left:-60px;

    //margin: 0 auto;
	//margin-left:-60px;
    //left:52%;
    //margin-top:-59px;
}

/*.logo{
    height: 150px;
    width: 150px;
    margin-top:45px;
	margin-left:45px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    border-style: double;
}*/

.caixaLogin{
    //bottom: 12%;
    position:absolute;
	width:120px;
    top:50%;
	left:50%;
    margin-top: 150px;
	margin-left:-60px;
    text-align: center;
    /*font-family: serif;
    font-weight: normal;*/
}

/*#myModal{
   margin-top: 42%;
}*/

.formulario{
    width: 95%;
    margin: 8px;
}

/*BOTÃO GOOGLE*/
#customBtn {
    position: absolute;
    display: inline-block;
    background: white;
    color: #444;
    width: 250px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    top: 0;
    left: 50%;
    margin-left: -125px; /* metade da largura */
    margin-top: 85%; /* metade da altura */
}

span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('img/g-logo.png') transparent no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    margin-left: 6px;
    margin-top: 6px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
}

/*TELA HOME*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.switch-door {
  margin: 50% auto;
  position: relative;
}

.switch-door [type="checkbox"]+label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding:0;
  line-height: inherit;
  font-size: 70px;

}

.switch-door input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

    .switch-door [type="checkbox"]:not(:checked), [type="checkbox"]:checked {        
        left:inherit;
    }

.switch-door  {
  width: 150px;
  height: 150px;
}

.switch-door [type="checkbox"]+label {
  border-radius: 50%;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  position: relative;
  color: #a5a39d;
  font-size: 70px;
  text-align: center;
  line-height: 150px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  text-shadow: 0 2px 1px rgba(0,0,0,0.25);

  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.3),
    0 10px 10px 4px rgba(0,0,0,0.3);
  z-index: -1;
}

.switch-door [type="checkbox"]+label:before{
  content: ""; 
  position: absolute;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  z-index: -2;
  border-radius: inherit;
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 2px rgba(0,0,0,0.3),0 0 10px rgba(0,0,0,0.15);
  height:auto;
  width: auto;
  border: none;
}

.switch-door [type="checkbox"]:not(.filled-in) + label:after {
    content: ""; 
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.13); 
    -webkit-filter:blur(1px);
    -moz-filter:blur(1px);
    -ms-filter:blur(1px);
    -o-filter:blur(1px);
    filter: blur(1px); 
    height:auto;
    width:auto;

    transform: none;
}

.switch-door .icon-off:after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin: -35% 0 0 -35%;
  border-radius: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  box-shadow:
    0 -2px 5px rgba(255,255,255,0.05),
    0 2px 5px rgba(255,255,255,0.1);
}

/*.switch-door input:checked ~ label {
  box-shadow:
    inset 0 2px 3px rgba(255,255,255,0.13),
    0 5px 8px rgba(0,0,0,0.35),
    0 3px 10px 4px rgba(0,0,0,0.2);
  color: #64BB46;
} 

}*/

/*NAVBAR*/
#user-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 15px;
    /*margin: 0 auto 10px auto;*/
}
 
fundoHome{
    padding-top: 50px;
    position: relative;
}
      
pre {
    tab-size: 8;
}

@media screen and (max-width: 768px) {
    .navbar-inverse .side-collapse {
      background: #FFF;
    }
    .side-collapse-container{
        width:100%;
        //position:fixed;
        //left:0;
        //transition:left .4s;
    }
    .side-collapse-container.out{
        left:200px;
    }
    .side-collapse {
        top:50px;
        bottom:0;
        left:0;
        width:70%;
        position:fixed;
        overflow:hidden;
        transition:width .4s;
    }
    .side-collapse.in {
        width:0;
    }

    /*.navbar-collapse{
        background: linear-gradient(to right, #000 50%, #F00 50%);
    }*/


    #caixaUsuario{
        margin-top: -20px;
        background: #333;
    }

}

.btnabrirPorta{
    position:absolute;
    border-style: double;
	top:50%;
	left:50%;
	margin-top:100px;
	margin-left:-50px;
}

.footerSidebar{
    //margin-top: 400px;
    width: 100%;
    //bottom: 0;
    position: absolute;
}